<div class="bottom-navbar">
  <ion-row class="bottom-navbar-container">
    <ion-col size="4" class="tabs">
      <a href="/info" class="tab-link">
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <p class="tab-description">Stanje</p>
      </a>
    </ion-col>

    <ion-col size="4" class="tabs">
      <a href="/mapa" class="tab-link">
        <div class="icon">
          <i class="fas fa-map-marked-alt"></i>
          <ion-badge>{{ poruke ? poruke : "" }}</ion-badge>
        </div>
        <p class="tab-description">Mapa</p>
      </a>
    </ion-col>

    <ion-col size="4" class="tabs">
      <a href="/poruke" class="tab-link">
        <div class="icon">
          <i class="fas fa-plus"></i>
        </div>
        <p class="tab-description">Kreiraj</p>
      </a>
    </ion-col>
  </ion-row>
</div>
