<ion-tabs>
  <ion-tab-bar slot="bottom" class="bottom-navbar">
    <ion-tab-button tab="info" class="tabs">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" class="tabs">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-messages" class="tabs">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Poruke</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
