<ion-header>
    <app-user-navbar> </app-user-navbar>
</ion-header>

<ion-content>
    <ion-grid class="h-100">
        <ion-row class="h-100">
            <ion-col>
                <app-map></app-map>
            </ion-col>
            <ion-col>
                <app-answer></app-answer>
            </ion-col>
            <ion-col>
                <app-questions></app-questions>
            </ion-col>
            <ion-col>
                ion-col
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-user-footer></app-user-footer>
</ion-content>