<div class="bottom-navbar">
  <ion-row class="bottom-navbar-container">
    <ion-col size="4" class="tabs">
      <a
        id="vsTab"
        [routerLink]="['/admin/vanredne-situacije']"
        href="vanredne-situacije"
        class="tab-link"
      >
        <div class="icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <p class="tab-description">Stanje</p>
      </a>
    </ion-col>

    <ion-col size="4" class="tabs">
      <a
        id="mapTab"
        [routerLink]="['/admin/mapa']"
        href="mapa"
        class="tab-link"
      >
        <div class="icon">
          <i class="fas fa-map-marked-alt"></i>
          <ion-badge>{{ poruke ? poruke : "" }}</ion-badge>
        </div>
        <p class="tab-description">Mapa</p>
      </a>
    </ion-col>

    <ion-col size="4" class="tabs">
      <a
        id="qTab"
        [routerLink]="['/admin/upiti']"
        href="upiti"
        class="tab-link"
      >
        <div class="icon">
          <i class="fas fa-question"></i>
        </div>
        <p class="tab-description">Upiti</p>
      </a>
    </ion-col>
  </ion-row>
</div>
