<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginFormGroup">
        <div class=" text-right">
            <ion-item>
                <ion-label required="true" position="floating">JMBG</ion-label>
                <ion-input placeholder="1234567891234" formControlName='jmbg' type="text" maxlength=13></ion-input>
            </ion-item>
            <span class="w-100">{{loginFormGroup.controls.jmbg.value.length}}/13</span>
        </div>
        <div class=" text-right">
            <ion-item>
                <ion-label position="floating">Kontakt mobilni telefon</ion-label>
                <ion-input formControlName='phoneNumber' type="tel" placeholder="642336555"></ion-input>
            </ion-item>
        </div>
        <div class=" text-right">
            <ion-item>
                <!-- select with search bar needed for opstina -->
                <ion-label position="floating">Opština</ion-label>
                <ion-select formControlName='municipality' okText="Potvrdi" cancelText="Otkaži">
                    <ion-select-option *ngFor="let m of allMunicipilities" [value]="m.MBOPS">{{m.nOPS}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
        <div class=" text-right">
            <ion-item>
                <ion-label position="stacked">SMS Kod</ion-label>
                <ion-input debounce=500 formControlName='smsCode' (ionChange)="verifyCode()" maxlength=6></ion-input>
            </ion-item>
            <span>{{loginFormGroup.controls.smsCode.value.length}}/6</span>
            <ion-button color="success" expand="block" (click)="register()">Registracija/Login</ion-button>
            <ion-item>
                <div id="recaptcha-container"></div>
            </ion-item>
        </div>
    </form>
</ion-content>