.login-navbar {
  height: 60px;
  background-color: #2f80ed;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5vw;
  height: 100%;
  color: white;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}
.text-right {
  margin-bottom: 10px;
}

.login-button {
  background-color: #2f80ed;
  margin-top: 20px;
}

form {
  width: fit-content;
  margin: auto;
}
