<ion-header>
  <ion-toolbar>
    <ion-title>questions-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form (ngSubmit)="submit()">
    <ion-list [formGroup]="questionCreateForm">

      <ion-item>
        <ion-label>Izaberite vanrednu situaciju:</ion-label>
        <ion-select (ionChange)="fetchQuestions($event)" [interfaceOptions]="customActionSheetOptions"
          formControlName="emergencyID" interface="action-sheet" placeholder="Select One">
          <ion-select-option *ngFor="let emergency of allEmergencies" [value]="emergency.id">
            {{emergency.emergencyType + " | " + emergency.status}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label item-start="floating">Pitanje:</ion-label>
        <ion-input type="text" placeholder="Npr. Da li ste ugrozeni?" formControlName="questionTitle"
          inputmode="questionTitle"></ion-input>
        <ion-icon type="submit" [disabled]="!questionCreateForm.valid" item-end  name="add-circle-outline"
          ></ion-icon>

          

      </ion-item>
      <div *ngFor="let error of errorMessages.questionTitle">
        <ng-container *ngIf="questionTitle.hasError(error.type) && (questionTitle.dirty || questionTitle.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>


      <!-- U slucaju da guramo slajder pitanja...  -->
      <!-- <ion-item>
        <ion-label>Izaberite tip pitanja</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions"  formControlName="questionType" interface="action-sheet" placeholder="Select One">
          <ion-select-option [value]="questionService.questionTypeEnum.YES_NO">{{questionService.questionTypeEnum.YES_NO}}</ion-select-option>
          <ion-select-option [value]="questionService.questionTypeEnum.SLIDER">{{questionService.questionTypeEnum.SLIDER}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let error of errorMessages.questionType">
        <ng-container *ngIf="questionType.hasError(error.type) && (questionType.dirty || questionType.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
 -->


    </ion-list>
  </form>
  <ion-item *ngFor="let question of questions">

    <ion-row text-right>

      <ion-col>
        {{question.questionTitle}}
      </ion-col>
      <ion-col>
        <ion-button item-right (click)="delete(question.id)" id="btnSpara" size="small">X</ion-button>
      </ion-col>
    </ion-row>

  </ion-item>
  

</ion-content>