
<ion-content>
  <ion-scroll scrollY="true">
    <b>
      <ion-tittle>Mere zastite u slucaju zemljotresa</ion-tittle>
    </b>
    <p>Ostanite mirni i prisebni i ne dozvolite da vas obuzme panika. Budite svesni da su neki zemljotresi samo
      početni potresi i da ubrzo može uslediti sledeći, jači potres.
    </p>
    <ion-button href="http://prezentacije.mup.gov.rs/sektorzazastituispasavanje/saveti%20gradjanima/zemljotresi.html"
      fill="solid" expand="block" color="primary">Više informacija</ion-button>
    <b>
      <ion-tittle>Mere zastite u slucaju poplava</ion-tittle>
    </b>
    <p>Uzmite pripremljene nužne stvari
      i po mogućstvu organizovano
      napustite domaćinstvo kako
      biste se sklonili na sigurno.
       Budite kooperativni i sarađujte
      sa spasilačkim ekipama.
       Ako živite nizvodno od brana informišite
      se koji je signal za opasnost, koliko
      vremena vam je potrebno da se
      sklonite i koja je sigurna granica za
      sklanjanje u slučaju njenog rušenja.
      Preko sredstava javnog
      informisanja pratite stanje i
      upozorenja o mogućoj poplavi
    </p>
    <ion-button href="https://www.osce.org/files/f/documents/4/1/118659.pdf" fill="solid" expand="block"
      color="primary">Više informacija</ion-button>
    <b>
      <ion-tittle>Neeksplodirana ubojna sredstva</ion-tittle>
    </b>
    <p>Ostanite mirni i prisebni i ne dozvolite da vas obuzme panika. Budite svesni da su neki zemljotresi samo
      početni potresi i da ubrzo može uslediti sledeći, jači potres.
      Vise informacija pronadjite klikom na link:
    </p>
    <ion-button href="https://www.osce.org/files/f/documents/4/1/118659.pdf" fill="solid" expand="block"
      color="primary">Više informacija</ion-button>

  </ion-scroll>
  
</ion-content>